.redirect-background {
    background-image: url('../images/background.png');
    background-size: contain;
    width: 100vw;
    height: 100vh;
    max-width: 1024px;
    max-height: 1024px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #2e7eed;
}